@font-face {
    font-family: 'bifocalsregular';
    src: url('/css/fonts/bifocals-webfont.woff2') format('woff2'),
         url('/css/fonts/bifocals-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:focus-visible {
 background-color: #008545;
    color: #fff;
}

.skip {
  position: fixed;
  top: -200px;
  background-color: #008545;
  color: #fff;
  font-family: 'bifocalsregular', Arial, sans-serif;
    font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.skip:focus {
    top: 0;
    left: 0;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaff67;
  padding: 2em 1em;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.logo {
  color: #292929;
  font-size: 2.5rem;
  padding: 0 1em;
  font-family: 'bifocalsregular', Arial, sans-serif;
}

.logo a {
  text-decoration: none;
  color: #292929;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}

.nav-link {
  padding: 0px 1.4em;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar a {
  font-family: 'bifocalsregular', Arial, sans-serif;
  color: #000;
}

.navbar a:hover {
  text-decoration: underline;
}

.button1 {
  color: #fff;
  font-size: 1.2rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
  background-color: #2e24a8;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  border: none;
  margin: 0px 00px 0px 20px;
}

.button1 a {
  color: #fff;
  text-decoration: none;
}

.button1 a:hover {
  text-decoration: none;
}

.button1:hover {
  background-color: #000;
  transition: 0.7s ease;
}

h1 {
  font-size: 1.7rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
margin: 0 0 1em 0;
}

h2 {
font-size: 1.4rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
    margin: 0;
    padding: 1em 0;
}

.strapline {
  font-size: 1.2rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
  margin: 0 0 0.5em 0;
}

p {
  font-size: 1rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
  margin: 0 0 0 0;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
}

.photo1 {
  flex: 1 1 30%;
  box-sizing: border-box;
  min-height: 250px;
  background-color: #fff;
  padding: 0;
    margin: 0;
}

.photo1 img {
 max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about {
  flex: 1 1 70%;
box-sizing: border-box;
  padding: 5% 5%;
}

.event {
   display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: left;
  align-items: center;
  background-color: #2e24a8;
  color: #fff;
}

.live-event {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  padding: 0 5%;
  width: 60%;
  height: auto;
}

.event-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
}

.button2 {
  color: #000;
  font-size: 1.2rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
  background-color: #eaff67;
  padding: 0.5em 1.5em 0.4em 1.5em;
  border-radius: 50px;
  border: none;
  margin: 0.3em 0 0 0;
}

.button2 a {
  color: #000;
  text-decoration: none;
}

.button2 a:hover {
  text-decoration: none;
}

.button2:hover {
  background-color: #fff;
  transition: 0.7s ease;
}

.photo2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  width: 40%;
  height: auto;
}

.photo2 img {
 height: 30em;
}

.social {
  background-color: #eaff67;
  color: #000;
    font-size: 16px;
  text-align: center;
  padding: 1.8em 5em 2em 5em;
}

.social a {
  color: #000;
    text-decoration: underline;
}

.social a:hover {
  color: #000;
    text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
  padding: 4em 5em 2em 5em;
  color: #fff;
  font-family: 'bifocalsregular', Arial, sans-serif;
  font-size: 1rem;
    row-gap: 2em;
}

footer p {
  font-size: 1rem;
  font-family: 'bifocalsregular', Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin: 0 0 0 0;
    width: 70%;
}

.footer-nav {
    display: inline-block;
    margin: 0;
}

.footer-nav a {
  display: inline-block;
    color: #eaff67;
  font-family: 'bifocalsregular', Arial, sans-serif;
  font-size: 1rem;
    text-decoration: underline;
    margin: 0em 1em;
}

.footer-nav a:hover {
  text-decoration: none;
}

.copyright {
  font-size: 0.8rem;
  margin: 4em 0 0 0;
  padding: 0em 0px 0px 0px;
  text-align: center;
  color: #fff;
}

/* Medium devices such as tablets*/
@media screen and (max-width: 1170px) {

    header {
  padding: 1.5em 0.8em;
}

.logo {
  font-size: 1.8rem;
  padding: 0 0.8em;
}

.navbar {
  padding: 0 2em;
}

.nav-link {
  padding: 0px 2em;
  font-size: 1rem;
}

.button1 {
  font-size: 1rem;
  margin: 0px 00px 0px 15px;
}

h1 {
  font-size: 1.2rem;
margin: 0.8em 0 0.8em 0;
}

h2 {
font-size: 1rem;
    margin: 0.8em 0 0.3em 0;
}

.strapline {
  font-size: 1rem;
  padding: 0 0 0.5em 0;
}

p {
  font-size: 0.8rem;
  margin: 0 0 0.8em 0;
}

.event {

}

.live-event {
  order: 1;
    align-items: left;
  flex-direction: column;
  padding: 5%;
    width: 50%
}

.event-info {
 
}

.button2 {
  font-size: 1rem;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 0.5em 0 0 0;
}

.button2 a {

}

.button2 a:hover {

}

.button2:hover {

}

.photo2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    order: 2;
    height: auto;
    right: 0;
    width: 50%
}

.photo2 img {
width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.social {
    font-size: 1rem;
  text-align: center;
  padding: 1.5em 3em 0.8em 3em;
}

 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
  margin: 1.5em 0 0.5em 0;
}

.footer-nav {
  width: 100%;
}

.footer-nav a {
  display: block;
  font-size: 0.8rem;
  margin: 0.5em 0;
  text-align: center;
}

.footer-nav a:hover {

}

.copyright {
  font-size: 0.6rem;
  margin: 3em 0 0 0;
  padding: 0em 0px 0px 0px;
}

}


/* Section 2 Column */
@media screen and (max-width: 970px) {
.event {
display: flex;
  flex-direction: column; 
}

.live-event {
  order: 1;
  align-items: center;
  flex-direction: column;
  padding: 5% 10%;
  width: 100%;
}

.event-info {
 align-items: center;
  order: 2;
}

    .button2 {
padding: 0.5em 3em;
    }

.photo2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  order: 3;
  width: 100%;
}

.photo2 img {
width: 50%;
  height: auto;
  margin: 0 auto;
}

 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
  margin: 1.5em 0 0.5em 0;
}

.footer-nav {
  width: 100%;
}

.footer-nav a {
  display: block;
  font-size: 0.8rem;
  margin: 0.5em 0;
  text-align: center;
}
    
}


    /* Small devices such as large phones*/
@media screen and (max-width: 750px) {

    header {
  flex-direction: column;
    padding: 1em;
}

.logo {
  font-size: 1.5rem;
  padding: 0 0.5em;
}

.navbar {
flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1em;
}   
    .nav-link {
        display: block;
        text-align: center;
    }

    .nav-link a {
  font-size: 1rem;
  background-color: #eaff67;
  padding: 0.3em 1em;
  border-radius: 50px;
  border: 2px black;}

    .button1 {
margin: 1em 0 0;
}
    
    h1 {
  font-size: 1.2rem;
margin: 0.8em 0 0.8em 0;
}

h2 {
font-size: 1rem;
    margin: 0.8em 0 0.3em 0;
}

    .strapline {
  font-size: 1rem;
  padding: 0 0 0.5em 0;
}

p {
  font-size: 0.8rem;
  margin: 0 0 0.8em 0;
}

    .intro {
display: block;
        align-items: center;
        text-align: center;
}

    .photo1 {
width: 100%;
height: auto;
    }

    .photo1 img {
        width: 100%;
        height: auto;
    }

    .about {
        display: block;
         text-align: center;
        padding: 5% 10%;
    }

    .live-event{
        padding: 5% 10%;
    text-align: center;}

    .event-info {
        text-align: center;
        }

    .photo2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 3;
  width: 100%;
}

.photo2 img {
width: 100%;
  height: auto;
  margin: 0 auto;
}

    .social {
        padding: 5% 10%;}

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
         padding: 5% 10%;
        text-align: center;
    }

footer p {
  font-size: 0.8rem;
}

    .footer-nav {
     width: 100%;
    }
    
    .footer-nav a {
        display: block;
  font-size: 0.8rem;
  margin: 0.5em 0;
text-align: center;
}
    
}
