header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaff67;
  padding: 2em 1em;
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.logo {
  font-size: 2.5em;
  padding: 0 1em;
  font-family: "Helvetica";
}

